@page
@model HotelBookingApp.Pages.FailureModel
@{
}
<h3 class="display-5 text-center mb-5">Sorry....</h3>
<div class="text-center mt-3">
    @TempData["Message"]
    <p>No Rooms Available based on your Request</p>
</div>