@page
@model HotelBookingApp.Pages.SuccessModel
@{
    ViewData["Title"] = "Success";
}
<html>
    <head>
    

    </head>
    <body>
    <h3 class="display-5 text-center mb-5">Success</h3>

    <div class="text-center">
        <img src="https://w7.pngwing.com/pngs/508/990/png-transparent-green-thumbs-up-illustration-thumb-signal-computer-icons-emoji-thumbs-up-hand-smiley-grass-thumbnail.png" alt="Thumbs Up">
    </div>

    <div class="text-center mt-3">
        <p>Please bring your ID proof for verification at the time of Check-in.</p>
    </div>
    </body>
</html>
